.main-container {
  overflow: hidden;
}

.main-content {
  width: 70%;
  float: left;
}

.sidebar-right {
  width: 30%;
  float: right;
}

.article-date {
  font-weight: normal;
  font-size: 0.5em;
}
.article-author {
  font-weight: bold;
}